*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
}

.navbar-nav{
    width: 100%;
    align-items: center;
}

.nav-item{
    background-color: aqua;
    border: 0.18rem solid;
    width: 98%;
    text-align: center;

    font-weight: bold;
    font-size: 1.6rem;
}

.grilla{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2fr 2fr;
    grid-template-areas: "presentacion" "main";
    gap: 5px;
}


#presentacion{
    background-image: url(../assets/img/bootstrap_image.jfif) ;
    height: 20rem;
    border: 5px solid black;

    grid-area: presentacion;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main{
    grid-area: main;
    border: 5px solid black;
}